:root {
  --main-font: "Geist", sans-serif;
  --style-font: "Sour Gummy", sans-serif;
  --gutter-space: 60px;
  --pink: rgb(216, 65, 133);
}

* {
  font-family: var(--main-font);
}

html,
body {
  margin: 0;
  padding: 0;
  inset: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#main-page-header {
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: row;
  z-index: 50;
  inset: 0;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid var(--pink);
  .logo-wrapper {
    height: fit-content;
    width: fit-content;
    margin: auto auto auto var(--gutter-space);

    #logo-item {
      height: 50px;
      object-fit: contain;
      filter: hue-rotate(120deg);
    }
  }

  #anchor-container {
    height: fit-content;
    width: fit-content;
    width: 650px;
    display: flex;
    flex-direction: row;
    margin: auto auto auto var(--gutter-space);

    .nav-anchor {
      text-decoration: none;
      font-weight: 900;
      color: rgb(172, 172, 172);
      margin: auto;
      transition: color 0.2s ease;
      font-size: 1.3rem;
      font-family: var(--style-font);
      cursor: pointer;
      user-select: none;
    }
    .nav-anchor.active,
    .nav-anchor:hover {
      color: var(--pink);
      transition: color 0.2s ease;
      font-weight: 900;
    }
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-300vw);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80%,
  100% {
    opacity: 1;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.page-content {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0;
  padding-bottom: 40px;

  .general-page-style.active {
    
    display: flex;
    flex-direction: column;
    margin: auto;
    height: fit-content;
    width: fit-content;
    overflow-x: hidden;
    h1 {
      text-align: center;
      margin: auto;
    }
    #landing-section {
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      height: fit-content;
      margin: auto;
      width: fit-content;

      .content-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto 20px auto auto;
        border: 4px solid var(--pink);
        box-shadow: 10px 10px 0px var(--pink);
        margin: auto;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 60px;
        position: relative;
        display: flex;

        .text-and-buttons {
          position: absolute;
          margin: auto 30px auto auto;
          width: fit-content;
          inset: 0;
          height: fit-content;
          padding: 40px;
          color: white;

          h1 {
            font-family: var(--style-font);
            font-size: 3rem;
            margin: 0;
            line-height: 3rem;
          }
          h3 {
            font-size: 2rem;
            line-height: 2rem;
            height: fit-content;
            margin: 0;
            margin-bottom: 60px;
          }

          p {
            width: 280px;
          }

          button {
            width: 100%;
            font-size: 1.4rem;
            padding: 12px;
            color: var(--pink);
            font-weight: 900;
            border-radius: 10px;
            border: 4px solid transparent;
            cursor: pointer;
            transition: all 0.2s ease;
            background-color: white;
          }

          button:hover {
            transition: all 0.2s ease;
            background-color: rgb(207, 207, 207);
          }
        }

        #background {
          object-fit: cover;
          max-height: 550px;
          border-radius: 20px;
          margin: auto;
        }
      }
    }

    .products-container {
      display: flex;
      padding: 10px;
      gap: 40px;
      width: 90vw;
      height: auto;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow: visible;
      margin-bottom: 30px;



      .product-card {
        height: fit-content;
        width: fit-content;
        padding: 20px 20px 40px 20px;
        border: 4px solid var(--pink);
        box-shadow: 10px 10px 0px var(--pink);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: all 0.2s ease;
        transform: scale(1);

        #sale-banner {
          position: absolute;
          z-index: 10;
          background-color: red;
          inset: 0;
          font-size: 3rem;
          font-weight: 800;
          color: white;
          text-align: center;
          height: fit-content;
          transform: rotate(35deg);
          right: -300px;
          top: -20px;
        }

        .row-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: fit-content;
          margin-bottom: 0px;

          p {
            margin: auto 0px auto auto;
            color: var(--pink);
            font-weight: 700;
          }
          h3 {
            height: fit-content;
            line-height: 1rem;
          }
        }

        .details {
          margin: 20px auto;
          display: flex;
          flex-direction: column;
          width: 100%;
          transform: translateY(-10px);

          .stars {
            display: flex;
            margin: auto;
            flex-direction: row;
          }
          p {
            font-size: 0.8rem;
            color: gray;
            margin: auto;
          }

          img {
            height: 20px;
            margin: auto 4px;
            width: 20px;
          }
        }

        #product-image {
          height: 300px;
          width: 420px;
          border: 4px solid var(--pink);
          object-fit: cover;
          border-radius: 10px;
          background-color: var(--pink);
        }

        button {
          width: 100%;
          padding: 14px;
          font-size: 1rem;
          font-weight: 600;
          border: 1px solid var(--pink);
          background-color: var(--pink);
          cursor: pointer;
          color: white;
          border-radius: 10px;
          transition: all 0.2s ease;
        }
        button:hover {
          border-radius: 10px;
          transition: all 0.2s ease;
          filter: brightness(0.8);
        }
      }

      .product-card:hover {
        transform: scale(1.05);
        transition: all 0.1s ease;
      }
    }
  }
  .general-page-style {
    display: none;
  }
}

.animation-strip {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 300vw;
  background-color: var(--pink);
  padding: 14px;
  margin-bottom: 50px;

  p {
    color: white;
    margin: auto;
    animation-name: carousel;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    width: fit-content;
    text-wrap: none;
  }
}

#footer-element {
  width: 100vw;
  display: flex;
  padding: 40px 20px;
  background-color: var(--pink);

  p {
    margin: auto;
    font-family: var(--style-font);
    font-weight: 900;
    color: white;
    font-size: 1.4rem;
  }
}
.modal-for-login {
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  animation: fadeIn 0.4s cubic-bezier(1, 1, 1, 0) 0s 1 normal both;
  display: none;
  .modal-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    padding: 80px 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.397);
    animation: pop 0.2s cubic-bezier(1, 0, 0, 1) 0s 1 normal both;

    #username-input-foo,
    #password-input-foo,
    #login-button-foo,
    #close-button-foo {
      font-size: 1.4rem;
      padding: 10px;
      border-radius: 5px;
      margin: 5px 1px;
      width: auto;
      border: 1px solid gray;
    }

    #login-button-foo,
    #close-button-foo {
      background-color: var(--pink);
      color: white;
      border: 1px solid var(--pink);
      transition: all 0.2s ease;
    }

    #login-button-foo:hover,
    #close-button-foo:hover {
      filter: brightness(0.6);
      transition: all 0.2s ease;
    }
  }
}
.modal-for-login.active {
  position: absolute;
  z-index: 50;
  height: 100%;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  animation: fadeIn 1s cubic-bezier(1, 1, 1, 1) 0s 1 normal both;

  .modal-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    padding: 80px 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.397);
    animation: pop 0.4s cubic-bezier(1, 1, 1, 1) 0s 1 normal both;
    max-width: 1000px;

    #username-input-foo,
    #password-input-foo,
    #login-button-foo,
    #close-button-foo {
      font-size: 1.4rem;
      padding: 10px;
      border-radius: 5px;
      margin: 5px 1px;
      width: auto;
      border: 1px solid gray;
    }

    #login-button-foo,
    #close-button-foo {
      background-color: var(--pink);
      color: white;
      border: 1px solid var(--pink);
      transition: all 0.2s ease;
    }

    #login-button-foo:hover,
    #close-button-foo:hover {
      filter: brightness(0.6);
      transition: all 0.2s ease;
    }
  }
}

#modal-buying-foo {
  /* display: flex; */
  flex-direction: row;

  .modal-container {
    padding: 30px;
    display: flex;
    flex-direction: row;

    .right-side {
      padding: 0px 30px;
    }
  }

  #product-image-foo {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 10px;
  }
}

.float-my-cart {
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.295);
  background-color: var(--pink);
  color: white;
  position: fixed;
  z-index: 20;
  top: 140px;
  left: 20px;
  display: flex;
  flex-direction: column;

  button {
    background-color: transparent;
    border: none;
    padding: 20px;
    transform: scale(1);
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transition: all 0.2s ease;
      transform: scale(0.9);
    }
    img {
      height: 50px;
      filter: brightness(200%);
    }
  }

  .cart-content {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    .product-card-cart {
      display: flex;
      flex-direction: row;
      img {
        height: 50px;
        width: 50px;
        margin: 20px;
      }

      .right {
        display: flex;
        flex-direction: row;
        width: 300px;
        p {
          color: black;
          height: fit-content;
          margin: auto;
        }
      }

      button {
        color: var(--pink);
      }
    }
  }
}
